:root {
  color-scheme: dark;
}

iframe {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow: none;
  margin: 0;
}

img {
  width: 100%;
}
